<div class="card" class="bg-dark" *ngIf="CommandInfo !== undefined">
    <ng-container [ngSwitch]="CommandInfo.SolutionType">
        <div *ngSwitchCase="'0'" class="card-body">
            <h5 class="card-title">{{CommandInfo.Key}}</h5>
            <p>{{CommandInfo.Name}}</p>
        </div>
        <div *ngSwitchCase="'3'" class="card-body">
            <h5 class="card-title">{{CommandInfo.Key}}</h5>
            <p>{{CommandInfo.Name}}</p>
            <iframe width="560" height="315" [src]="CommandInfo.Clue | safe: 'resourceUrl'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div *ngSwitchCase="'4'" class="card-body">
            <h5 class="card-title">{{CommandInfo.Key}}</h5>
            <p>{{CommandInfo.Name}}</p>
            <img src="{{CommandInfo.Clue}}" />
        </div>
    </ng-container>
</div>